@page "/"
@model DistributedCacheModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Distributed Cache @Model.WeatherForecast.Summary @Model.WeatherForecast.Date.ToLocalTime() @Model.WeatherForecast.TemperatureCelsius °C</h1>
</div>
