@page
@model MemoryCacheModel
@{
    ViewData["Title"] = "Memory Cache";
}

<div class="text-center">
    <h1 class="display-4">Memory Cache @Model.WeatherForecast.Summary @Model.WeatherForecast.Date.ToLocalTime() @Model.WeatherForecast.TemperatureCelsius °C</h1>
</div>
